.Header{
  width: 100%;

  font-size: 15px;
  a{
    margin-right: 20px;
    color: #212b36;
  }
  &__advert{
    display: flex;
    justify-content: right;
    background: #F4F4F4;
    line-height: 1.5625;
    &__call-us{
      background: #17A3A3;
      color: #fff;
      padding: 0 10px;
      display: flex;
      justify-content: center;
      align-items: center;
      .icon{
        margin:0 5px;
      }
    }
  }
}