.bill-board {
  h1 {
    color: red;
  }

  .billboard{
    background-image: url("https://www.vertumotors.com/custom/100689%5E1500%5E.jpg");
   background-size: cover;
    width: 100%;
    height: 50vh;
  }
}
